spring:
  profiles:
    active: local

  datasource:
    url: jdbc:postgresql://localhost:4321/database
    username: guest
    password: guest
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    listener:
      simple:
        acknowledge-mode: auto
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 1000ms
        default-requeue-rejected: false
    host: localhost
    port: 5672
    username: guest
    password: guest